<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
<main>
    <h2>Page Not Found</h2>
    <P>Unfortunately, we weren't able to find this page</P>

  </main>
</body>
</html>